@model Salao.Domain.Models.Cliente.Servico

@{
    ViewBag.Title = "Serviço";
}

<h2>@Model.Descricao</h2>
<hr />
Local: <strong>@Model.Salao.Fantasia</strong> - @Model.Salao.Endereco.Logradouro, @Model.Salao.Endereco.Numero


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IdSalao)

        <div class="form-group">
            @Html.LabelFor(model => model.IdSubArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdArea", (SelectList)ViewBag.ListaAreas, new { @autofocus = true } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdSubArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdSubArea", (SelectList)ViewBag.ListaSubAreas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalhe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalhe)
                @Html.ValidationMessageFor(model => model.Detalhe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tempo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tempo)
                @Html.ValidationMessageFor(model => model.Tempo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecoSemDesconto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecoSemDesconto)
                @Html.ValidationMessageFor(model => model.PrecoSemDesconto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco)
                @Html.ValidationMessageFor(model => model.Preco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ativo)
                @Html.ValidationMessageFor(model => model.Ativo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { idSalao = Model.IdSalao, idArea = Model.Area.Id, idSubArea = Model.IdSubArea })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#Areas").change(function () {
            var id = $(this).val();            
            $("#SubAreas").empty();

            $.ajax({
                url: '@Url.Action("GetSubAreas","Servico")',
                data: { 'idArea': id },
                datatype: 'json',
                success: function (subareas) {
                    $(subareas).each(function (i, data) {
                        $("#SubAreas").append('<option value="' + data.Value + '">' + data.Text + '</option>');
                        $("#SubAreas").append('<option value="' + data.Value + '">' + data.Text + '</option>');
                    });
                }
            });
        });
    });
</script>