@model IEnumerable<Salao.Domain.Models.Cliente.Servico>

<p class="top20">
    @Html.ActionLink("Novo serviço", "Incluir", new { idSalao = (int)ViewBag.IdSalao, idArea = (int)ViewBag.IdArea, idSubArea = (int)ViewBag.IdSubArea })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoSemDesconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoSemDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </td>
        </tr>
    }

</table>
