@model IEnumerable<Salao.Web.Areas.Empresa.Models.SalaoFormasPagamento>

<div class="top20">
    <strong>@ViewBag.SalaoFantasia</strong><br />
    @ViewBag.SalaoEndereco
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("idSalao", (int)@ViewBag.IdSalao)
    
    <table class="table top20">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selecionado)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <input type="checkbox" value="@item.Id" checked="@item.Selecionado" id="selecionado" name="selecionado" />
                </td>
            </tr>
        }
    </table>
}