@model IEnumerable<Salao.Web.Areas.Admin.Models.GruposUsuario>

@{
    ViewBag.Title = "Grupos do usuário";
}

<h2>Grupos do usuário</h2>

<div class="text-info">
    <h3>@ViewBag.NomeUsuario</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(ViewBag.IdUsuario)
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selecionado)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Selecionado)
                    @Html.HiddenFor(modelItem => item.Selecionado)
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
            </tr>
        }
    </table>
    
    <div class="form-group">
            <input type="submit" value="Gravar" class="btn btn-primary" />
    </div>
}