@model IEnumerable<Salao.Web.Areas.Empresa.Models.GruposUsuario>

@{
    ViewBag.Title = "Grupos do usuário";
}

<h2>Grupos do usuário - @ViewBag.NomeUsuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("idUsuario", (int)ViewBag.IdUsuario)
    @Html.Hidden("idEmpresa", (int)ViewBag.IdEmpresa)

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selecionado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <input type="checkbox" value="@item.Id" checked="@item.Selecionado" id="selecionado" name="selecionado" />
                </td>
            </tr>
        }
    </table>

    <div class="form-actions no-color">
        <input type="submit" value="Gravar" class="btn btn-primary" />
        @Html.ActionLink("Voltar", "Index", "Usuario")
    </div>
}
