@model IEnumerable<Salao.Domain.Models.Cliente.Profissional>

@{
    ViewBag.Title = "Colaboradores";
}

<h2>@ViewBag.Fantasia - Colaboradores</h2>

<p>
    @Html.ActionLink("Novo colaborador", "Create", new { idSalao = @ViewBag.IdSalao })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Serviços", "Index", "ColaboradorServico", new { idProfissional = item.Id }, null)
        </td>
    </tr>
}
</table>

<div class="form-group">
    @Html.ActionLink("Voltar", "Index", "Salao", new { idEmpresa = @ViewBag.IdEmpresa }, new { @class = "btn btn-primary" })
</div>
