<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="/Home" title="ScrumToPractice">
                    @*<img style="max-width:100px; margin-top: -7px; height:20px; width:20px;" src="~/Images/logo_top_menu.gif">*@
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/Area">Áreas</a></li>
                            <li><a href="/Admin/Desconto">Desconto</a></li>
                            <li><a href="/Admin/Estado">Estados da União</a></li>
                            <li><a href="/Admin/FormaPgto">Formas de pagamento</a></li>
                            <li><a href="/Admin/Grupo">Grupos de usuários</a></li>
                            <li><a href="/Admin/Permissao">Permissões</a></li>
                            <li><a href="/Admin/SistemaParametro">Parâmetros</a></li>
                            <li><a href="/Admin/TipoEndereco">Tipo de endereços</a></li>
                            <li><a href="/Admin/Usuario">Usuários</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pré contato<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/PreContato/Create">Incluir pré contato</a></li>
                            <li><a href="/Admin/PreContato">Analisar novos pré contatos</a></li>
                            <li><a href="/Admin/PreContato/Aprovados">Contatos aprovados</a></li>
                            <li><a href="/Admin/PreContato/Rejeitados">Contatos rejeitados</a></li>
                            <li><a href="/Admin/PreContato/ContatarNovamente">Contatar novamente</a></li>
                            <li><a href="/Admin/PreContato/ContatosDia">Contatos do dia</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cliente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/Empresa/Create">Cadastro básico de novo cliente</a></li>
                            <li><a href="/Admin/Empresa">Manutenção de empresas</a></li>
                            <li><a href="/Admin/CliGrupo">Grupos</a></li>
                            <li><a href="/Admin/CliPermissao">Permissões</a></li>
                        </ul>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user gray" aria-hidden="true"></span>
                                <span class="gray">@User.Identity.Name.ToUpper()</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/Usuario/TrocarSenha">Trocar senha</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="pull-right top15">
                                <span class="left20"><a href="/Admin/Login/Logout" class="gray">Sair</a></span>
                            </div>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>