@model Salao.Domain.Models.Admin.PreContato

@{
    ViewBag.Title = "Pre´contato";
}

<h2>Pré contato - alteração</h2>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeSalao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeSalao)
                @Html.ValidationMessageFor(model => model.NomeSalao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone)
                @Html.ValidationMessageFor(model => model.Telefone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cidade)
                @Html.ValidationMessageFor(model => model.Cidade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEstado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdEstado", (SelectList)@ViewBag.Estados)
                @Html.ValidationMessageFor(model => model.IdEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContatoEm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContatoEm)
                @Html.ValidationMessageFor(model => model.ContatoEm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Atendido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Atendido)
                @Html.ValidationMessageFor(model => model.Atendido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AtendidoPor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AtendidoPorUsuario)
                @Html.HiddenFor(model => model.AtendidoPor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observ)
                @Html.ValidationMessageFor(model => model.Observ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assinou, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assinou)
                @Html.ValidationMessageFor(model => model.Assinou)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContatarNovamente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContatarNovamente)
                @Html.ValidationMessageFor(model => model.ContatarNovamente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ativo)
                @Html.ValidationMessageFor(model => model.Ativo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { email = Model.Email, returnUrl = ViewBag.returnUrl })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
