@model Salao.Web.Areas.Cliente.Models.SalaoModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SalaoModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdEmpresa)

        <div class="form-group">
            @Html.LabelFor(model => model.Fantasia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fantasia)
                @Html.ValidationMessageFor(model => model.Fantasia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPessoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoPessoa")
            </div>
        </div>

        <div id="tipo-juridica" class="form-group">
            @Html.LabelFor(model => model.Cnpj, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cnpj)
                @Html.ValidationMessageFor(model => model.Cnpj)
            </div>
        </div>

        <div id="tipo-fisica" class="form-group">
            @Html.LabelFor(model => model.Cpf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf)
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contato, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contato)
                @Html.ValidationMessageFor(model => model.Contato)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sobre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sobre)
                @Html.ValidationMessageFor(model => model.Sobre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observ)
                @Html.ValidationMessageFor(model => model.Observ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cortesia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cortesia)
                @Html.ValidationMessageFor(model => model.Cortesia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desconto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desconto)
                @Html.ValidationMessageFor(model => model.Desconto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescontoCarencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescontoCarencia)
                @Html.ValidationMessageFor(model => model.DescontoCarencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEndereco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoEndereco")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cep, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cep)
                @Html.ValidationMessageFor(model => model.Cep)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logradouro)
                @Html.ValidationMessageFor(model => model.Logradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complemento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Complemento)
                @Html.ValidationMessageFor(model => model.Complemento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro)
                @Html.ValidationMessageFor(model => model.Bairro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cidade)
                @Html.ValidationMessageFor(model => model.Cidade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Estados")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DDD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DDD)
                @Html.ValidationMessageFor(model => model.DDD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone)
                @Html.ValidationMessageFor(model => model.Telefone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ramal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ramal)
                @Html.ValidationMessageFor(model => model.Ramal)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { idEmpresa = Model.IdEmpresa })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        exibirTipoPessoa();
    });

    function exibirTipoPessoa() {
        var tipo = $("#TipoPessoa").val();
        if (tipo == "1") {
            $("#tipo-fisica").show();
            $("#tipo-juridica").hide();
        }
        else {
            $("#tipo-fisica").hide();
            $("#tipo-juridica").show();
        }
    }

</script>