@model IEnumerable<Salao.Domain.Models.Cliente.Salao>

@{
    ViewBag.Title = "Salões";
}

<h2 class="lead">@ViewBag.Fantasia - Salões</h2>

<p>
    @Html.ActionLink("Novo salão", "Create", new { idEmpresa = @ViewBag.IdEmpresa })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cortesia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CadastradoEm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprovado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exibir)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cortesia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CadastradoEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aprovado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exibir)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Forma de pagamento", "Index", SalaoFormaPgto, new { id=item.Id; })
        </td>
    </tr>
}

</table>

<div class="form-group">
    @Html.ActionLink("Voltar", "Index", "Empresa", new { Area = "Admin" }, new { fantasia = @ViewBag.Fantasia, @class = "btn btn-primary" })
</div>