@using Salao.Web.Common;
@model Salao.Domain.Models.Cliente.CadastroSalao

@{
    ViewBag.Title = "Matriz/Filiais - edição";
}

<h2>@Salao.Web.Areas.Empresa.Common.Identification.EmpresaFantasia - Alteração</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IdEmpresa)
        @Html.HiddenFor(model => model.IdEndereco)
        @Html.HiddenFor(model => model.Cortesia)
        @Html.HiddenFor(model => model.Desconto)
        @Html.HiddenFor(model => model.DescontoCarencia)

        <div class="form-group">
            @Html.LabelFor(model => model.Fantasia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fantasia, new { htmlAttributes = new { @autofocus = true } })
                @Html.ValidationMessageFor(model => model.Fantasia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoPessoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.SelectTipoPessoa(Model.TipoPessoa)
            </div>
        </div>

        <div id="tipo-juridica" class="form-group">
            @Html.LabelFor(model => model.Cnpj, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cnpj)
                @Html.ValidationMessageFor(model => model.Cnpj)
            </div>
        </div>

        <div id="tipo-fisica" class="form-group">
            @Html.LabelFor(model => model.Cpf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf)
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contato, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contato)
                @Html.ValidationMessageFor(model => model.Contato)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sobre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sobre)
                @Html.ValidationMessageFor(model => model.Sobre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observ)
                @Html.ValidationMessageFor(model => model.Observ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude)
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude)
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoEndereco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.SelectTipoEndereco(Model.TipoEndereco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cep, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cep)
                @Html.ValidationMessageFor(model => model.Cep)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logradouro)
                @Html.ValidationMessageFor(model => model.Logradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complemento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Complemento)
                @Html.ValidationMessageFor(model => model.Complemento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro)
                @Html.ValidationMessageFor(model => model.Bairro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cidade)
                @Html.ValidationMessageFor(model => model.Cidade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEstado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.SelectUF(Model.IdEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DDD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DDD)
                @Html.ValidationMessageFor(model => model.DDD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone)
                @Html.ValidationMessageFor(model => model.Telefone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ramal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ramal)
                @Html.ValidationMessageFor(model => model.Ramal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ativo)
                @Html.ValidationMessageFor(model => model.Ativo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Exibir, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Exibir)
                @Html.ValidationMessageFor(model => model.Exibir)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CadastradoEm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CadastradoEm)
                @Html.ValidationMessageFor(model => model.CadastradoEm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aprovado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Aprovado)
                @Html.HiddenFor(model => model.Aprovado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { idEmpresa = Model.IdEmpresa })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        exibirTipoPessoa();

        $("#TipoPessoa").change(function () {
            exibirTipoPessoa();
        });
    });

    function exibirTipoPessoa() {
        var tipo = $("#TipoPessoa").val();
        if (tipo == "1") {
            $("#tipo-fisica").show();
            $("#tipo-juridica").hide();
        }
        else {
            $("#tipo-fisica").hide();
            $("#tipo-juridica").show();
        }
    }

</script>