@model Salao.Domain.Models.Cliente.Servico

@{
    ViewBag.Title = "Serviço";
}

<h2>@Model.Salao.Fantasia - Serviço</h2>

<div>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSubArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubArea.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoSemDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoSemDesconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlteradoEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlteradoEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index", new { idSalao = Model.IdSalao })
</p>
